.logo {
    display: block;
    height: 34px;
    width: 150px;
}

  :root {
    --text-font: 'Roboto', sans-serif;
    --text-01: rgba(0, 0, 0, 0.8);
    --text-02: rgba(0, 0, 0, 0.54);
    --text-03: rgba(0, 0, 0, 0.12);
    --text-link: #336fee;

    --base-01: #666666;
    --base-02: #F6F7F8;
    --base-03: #FFDD2D;
    --base-04: #FCC521;
    --base-05: #FAB619;
    --base-06: #3333337A;
    --base-07: #e7e8ea;
    --number-color: #333;
}

body {
    font-family: var(--text-font);
}

.title {
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    margin: auto;
    padding-bottom: 16px;
}

.setup-default {
    display: flex;
    align-items: center;
    height: 100%;

    &-btn {
        width: 100%;
        height: 40px;
        border-radius: 8px;
        border: none;
        background-color: var(--base-03);
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        cursor: pointer;
    }
}

.main {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    width: 100%;
}

.add-card-block {
    width: 50vw; /* Adjust as needed */
    padding-left: 15px;
    padding-right: 15px;

    &-form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-content: center;

        &-input {
            box-sizing: border-box;
            padding: 0 16px;
            width: 100%;
            height: 40px;
            border-radius: 8px;
            border: 1px solid var(--base-07);
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: var(--text-01);
            text-wrap: wrap;
        }

        &-btn {
            width: 45%;
            align-self: center;
            height: 40px;
            border-radius: 8px;
            border: none;
            background-color: var(--base-03);
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            cursor: pointer;
        }
    }
}

.cards-block {  // block with cards on the right side
    display: flex;
    width: 60vw;
    flex-direction: column;
    padding-left: 16px;

    &-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
    }
}


.card {
    gap: 4px;
    width: 20vw;
    max-width: 200px;
    height: 450px;
    margin: 0;

    &-id {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
        color: var(--text-02);
    }

    &-title {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
        color: var(--text-01);
    }

    &-img {
        width: 100%;
        height: 200px;
        max-width: 200px;
        max-height: 200px;
        border-radius: 8px;


    }

    &-text {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: var(--text-02);

    }

    &-btns {
        display: flex;
        flex-direction: row;
        gap: 4px;

        &-btn {

            &__delete {
                height: 40px;
                border-radius: 8px;
                border: none;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                cursor: pointer;
                background-color: var(--base-06);
            }

            &__edit {
                height: 40px;
                border-radius: 8px;
                border: none;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                cursor: pointer;
                background-color: var(--base-03);
            }
        }
    }

}


.main-header {
    max-width: 1360px;
    height: 64px;

    display: flex;
    flex: 1 0 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 128px;
    margin: auto;

    box-shadow: 0px 4px 24px 0px var(--text-03);
}


.footer {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    // border-top: 1px solid var(--base-07);
    
    height: 128px;
    padding: 20px 0 24px 0;
    margin-right: 128px;
    margin-left: 128px;
    border-top: 1px solid var(--base-07);

    &-text {
        font-family: var(--text-font);
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: var(--text-02);
    }

    &__contact {
        display: flex;
        justify-content: flex-end;

        & a {
            text-decoration: solid;
            color: var(--text-link);
        }
    }
}
